web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar
php-cs-fixer.phar
app/config/phpcr.yml

.idea/*

app.sqlite
prestacms-sandbox-privatekey.p12
web/uploads/media/*
/nbproject

# Assetic
web/css
web/js
