parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     prestacms_sandbox
    database_user:     root
    database_password: ~
    database_path:     '%kernel.root_dir%/database/app.sqlite'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    locales:           [en, fr]
    secret:            ThisTokenIsNotSoSecretChangeIt

    presta_sonata_admin_extended.locales: [en, fr]
